<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RLStickyHeaderFlowLayout.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>RLStickyHeaderFlowLayoutFramework.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7D2AE1371D3D26A200B91337</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7D2AE1401D3D26A200B91337</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7DAB527D1D3CA2BB0080B7D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7DAB52911D3CA2BB0080B7D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
